<a href="https://colab.research.google.com/github/krishbhowmick/Python/blob/main/Python1.1_DataType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Built-in Data Types**

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

*  **Text Type**:	str
* **Numeric Types**:	int, float, complex
* **Sequence Types**:	list, tuple, range
* **Mapping Type**:	dict
* **Set Types**:	set, frozenset
* **Boolean Type**:	bool
* **Binary Types**:	bytes, bytearray, memoryview

In [1]:
x = "Hello World"	#str	
print(type(x))

<class 'str'>

In [2]:
x = 20	#int	
print(type(x))

<class 'int'>

In [3]:
x = 20.5	#float	
print(type(x))

<class 'float'>

In [4]:
x = 1j	#complex	
print(type(x))

<class 'complex'>

In [5]:
x = ["apple", "banana", "cherry"]	#list	
print(type(x))

<class 'list'>

In [6]:
x = ("apple", "banana", "cherry")	#tuple	
print(type(x))

<class 'tuple'>

In [7]:
x = range(6)	#range	
print(type(x))

<class 'range'>

In [8]:
x = {"name" : "John", "age" : 36}	#dict	
print(type(x))

<class 'dict'>

In [9]:
x = {"apple", "banana", "cherry"}	#set	
print(type(x))

<class 'set'>

In [10]:
x = frozenset({"apple", "banana", "cherry"})	#frozenset	
print(type(x))

<class 'frozenset'>

In [11]:
x = True	#bool	
print(type(x))

<class 'bool'>

In [12]:
x = b"Hello"	#bytes	
print(type(x))

<class 'bytes'>

In [13]:
x = bytearray(5)	#bytearray	
print(type(x))

<class 'bytearray'>

In [14]:
x = memoryview(bytes(5))	
print(type(x))

<class 'memoryview'>